__pycache__
api/gptAI/json/openAIAPIkey.json
api/images/ボイロキャラ素材
api/images/psd_parser/node_modules
api/images/psd_parser_python/*
!api/images/psd_parser_python/parser.py
!api/images/psd_parser_python/parser2.py
!api/images/psd_parser_python/converter2voiroidAIImage.py
!api/images/psd_parser_python/parse_main.py
api/web/build/*
api/web/dist/*
api/web/main.spec

app/images/
api/web/output_wav/*
api/web/output_aivoice/*
localenv
audio.wav
query.json
my-electron-app/node_modules/*
/app/audio/*